QMainWindow, QMenuBar, QStatusBar,QTextEdit, QTreeWidget, QDialog, QLabel {
    color: rgb(255, 255, 255);
    background: rgb(22, 22, 22);
}

QPushButton{
    color: rgb(255, 255, 255);
    background: rgb(40, 40, 40);
    border-style: solid;
    border-width: 2px;
    border-radius: 10%;
    border-color: rgb(255, 255, 255);
}


QPushButton:hover {
    opacity: 20%;
    background: rgb(45, 45, 45);
}

QTreeWidget::item {
    width: 80%;
    height: 15%;
}


