QDialog, QPushButton, QWidget, QLabel {
    color: rgb(22, 22, 22);
    background: rgb(255, 255, 255);
}


QLabel {
    font: 15px;
}

QPushButton {
    width: 40px;
    height: 20px;
    color: rgb(22, 22, 22);
    background: rgb(255, 255, 255);
    border-style: outset;    
    border-width: 4px;
    border-color: rgb(22, 22, 22);
    border-radius: 10%;
}

