QMainWindow, QMenuBar, QStatusBar,QTextEdit, QTreeWidget {
    color: rgb(22, 22, 22);
    background: rgb(255, 255, 255);
}

QPushButton{
    color: rgb(22, 22, 22);
    background: rgb(240, 240, 240);
    border-style: solid;
    border-width: 2px;
    border-radius: 10%;
    border-color: rgb(22, 22, 22);
    item-align: center;
}
QCheckBox::indicator {
        width:35px;
        height:35px;
        background-color: rgb(85, 255, 127);
        border-style: solid;
        border-width: 2px;
        border-radius: 12px;
        border-color: black;
}
QCheckBox::indicator:checked {
        background-color: rgb(255, 71, 71);
}
